= simple_form_for @par_sheet, html: { class: 'form-horizontal' } do |sheet|
  = sheet.input :name
  #sheet_items
    = sheet.simple_fields_for :par_sheet_items do |item|
      = render 'sheet_item', item: item 
  .form-actions 
    = sheet.submit 'Save', class: 'btn-primary'
    = link_to 'Add Item', '#', class: 'btn add_item'
    = link_to 'Add unit of measurement', '#', class: 'btn'
    = link_to 'Cancel', par_sheets_url, class: 'btn btn-danger'
 
    %script#sheet_item_template{ type: 'text/x-handlebars-template' }
      - par_sheet_item = ParSheetItem.new
      = sheet.simple_fields_for :par_sheet_items, par_sheet_item, child_index: '{{index}}' do |item|
        = render 'sheet_item', item: item

= render 'add_item_modal'
