.sheet_item
  = item.input :par_item_id, label: 'Item' do
    = item.select :par_item_id, ParItem.all.map { |i| [i.name, i.id] }, {}, { class: 'item-select' }
    = link_to 'Remove', '#', class: 'remove btn btn-link'
  = item.input :par_count
  = item.input :_destroy, as: :hidden
