%h1 Par Sheets 

%p
  A par sheet is a tool used in restaurants/kitchens 

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Version
      %th Actions
      
  %tbody
    - @par_sheets.each do |sheet|
      %tr
        %td
          = sheet.name
        %td 
          %a
            = link_to 'regular', edit_par_sheet_path(sheet)
            \/
            = link_to 'backbone', "#{ static_path(:par_sheets_backbone) }#edit/#{sheet.id}"
        %td
          = link_to "Make prep sheet", new_par_sheet_prep_sheet_path(sheet), :class => "btn btn-primary"
          = link_to "View past prep sheets", par_sheet_prep_sheets_url(sheet.id), :class => "btn"
          = link_to "Delete", par_sheet_path(sheet), :method => :delete, :class => "btn btn-danger"

.form-actions
  = link_to "Create a new par sheet", new_par_sheet_path, :class => "btn"
