%h1 Par Sheets 

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th Action
      
  %tbody
    - @par_sheets.each do |sheet|
      %tr
        %td 
          %a
            = link_to sheet.id, par_sheet_path(sheet)
        %td 
          = sheet.name
        %td
          = link_to 'Make a par sheet', new_par_sheet_prep_sheet_path(sheet), class: 'btn btn-primary'
          = link_to 'Edit', edit_par_sheet_path(sheet), class: 'btn'
          = link_to 'Delete', par_sheet_path(sheet), method: :delete, class: 'btn btn-danger'

= link_to 'Create a new par sheet', new_par_sheet_path, class: 'btn'
