%h1 
  Sheet:
  = @par_sheet.name
%legend Inventory
%table.table.table-hover
  %thead
    %tr
      %th
        Item Name
      %th
        Par Value
  %tbody
    - @par_sheet.par_sheet_items.each do |i|
      %tr
        %td
          = i.par_item.name
        %td
          = i.par_count

= link_to "Edit", edit_par_sheet_path(@par_sheet), :class => "btn"
= link_to "Back to all par sheets", par_sheets_url, :class => "btn btn-link"
