!!!
%html
  %head
    %title kevintung
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "#{controller_name} #{action_name}"}
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          - {home: 'Home', projects: 'Projects', connect: 'Connect'}.each do |action, tab|
            %li{class: (action.to_s == action_name) ? 'active' : '' }
              %a
                = tab
        %h3.muted
          kevintung
      %hr
      .container-fluid
        = yield

      %hr
      .footer
        %p.muted
          Copyright kevintung 2013. As if anyone reads this portion.
