!!!
%html
  %head
    %title Kevin Tung
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "#{controller_name} #{action_name}"}
    .container-fluid
      .row-fluid
        .span3 About Me
        .span3 Projects
        .span3 Connect
      .row-fluid
        .span12
          = yield
