!!!
%html
  %head
    %title kevintung
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "#{controller_name} #{action_name}"}
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          - { :home => "Home", :projects => "Projects", :posts => "Blog", :connect => "Connect" }.each do |tab, tab_display|
            %li{ :class => (tab.to_s == @active_tab.to_s) ? "active" : "" }
              = link_to tab_display, static_path(tab) 
        %h3.muted
          kevintung
      %hr
      .container-fluid
        = yield

      %hr
      .footer
        %p.muted
          Copyright kevintung 2013. As if anyone reads this portion.
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41358611-1', 'herokuapp.com');
    ga('send', 'pageview');
